// importation des fichier nécessaire au style :
@use "../../styles/utils/_variables";
@use "../../styles/utils/_breakpoints";

// Style error :
.section__error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 130px;

  img {
    width: 100%;
    max-width: 500px;
  }

  p {
    font-size: 36px;
    font-weight: 500;
    color: variables.$quinary;
    text-align: center;

    @include breakpoints.custom-media-query(768) {
      font-size: 30px;
    }

    @include breakpoints.custom-media-query(600) {
      font-size: 25px;
    }

    @include breakpoints.custom-media-query(350) {
      font-size: 23px;
    }
  }

  span {
    color: variables.$quinary;
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;

    @include breakpoints.custom-media-query(600) {
      font-size: 18px;
    }
  }
}
