
// importation des fichier nécessaire au style :
@use "../../styles/utils/variables";
@use "../../styles/utils/breakpoints";

// Style Home :
.container__main {
  margin: 50px 100px;

  @include breakpoints.custom-media-query(1140) {
    margin: 50px 30px;
  }

  @include breakpoints.custom-media-query(500) {
    margin: 50px 10px;
  }

  &__sectionCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Définit une taille minimale des cartes
    gap: 80px;
    background-color: variables.$primary;
    border-radius: 25px;
    padding: 50px;
    margin-top: 50px;
    > * {
      
      min-width: 360px; // Largeur minimale pour les cartes
      max-width: 100%; // Largeur maximale à 100% pour remplir le conteneur
    }
    > * {
      flex: 1 1 calc(33.333% - 80px); // Trois éléments par ligne

      @include breakpoints.custom-media-query(1140) {
        flex: 1 1 calc(50% - 80px); // Deux éléments par ligne pour les écrans moyens
      }

      @include breakpoints.custom-media-query(650) {
        flex: 1 1 100%; // Un élément par ligne pour les petits écrans
      }
    }

    @include breakpoints.custom-media-query(650) {
      background: none;
      padding: 5px;
      gap: 20px;
    }

  }
}

