// Variable color :
$primary: #f6f6f6;
$secondary: rgba(0, 0, 0, 0.3);
$tertiary: #ffff;
$quaternary: rgba(248, 255, 253, 0), rgba(31, 36, 35, 0.749);
$quinary: #ff6060;
$senary: #000000;
$septenary: #e3e3e3;
